-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."APIToken" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "lastUsedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "APIToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ActivityLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "userName" TEXT NOT NULL DEFAULT 'System Agent',
    "userRole" TEXT NOT NULL DEFAULT 'PETROPHYSICIST',
    "action" TEXT NOT NULL,
    "targetType" TEXT,
    "targetId" TEXT,
    "details" TEXT NOT NULL,
    "ipAddress" TEXT NOT NULL DEFAULT '127.0.0.1',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Anomaly" (
    "id" TEXT NOT NULL,
    "qualityReportId" TEXT NOT NULL,
    "curveId" TEXT,
    "curveMnemonic" TEXT NOT NULL,
    "depthStart" DOUBLE PRECISION NOT NULL,
    "depthEnd" DOUBLE PRECISION NOT NULL,
    "anomalyType" TEXT NOT NULL,
    "severity" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "suggestedCorrection" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Anomaly_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Curve" (
    "id" TEXT NOT NULL,
    "lasFileId" TEXT NOT NULL,
    "originalMnemonic" TEXT NOT NULL,
    "standardMnemonic" TEXT NOT NULL DEFAULT 'UNKNOWN',
    "unit" TEXT NOT NULL DEFAULT '',
    "description" TEXT NOT NULL DEFAULT '',
    "nullCount" INTEGER NOT NULL DEFAULT 0,
    "totalPoints" INTEGER NOT NULL DEFAULT 0,
    "nullPercentage" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "confidence" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "minVal" DOUBLE PRECISION,
    "maxVal" DOUBLE PRECISION,
    "meanVal" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'VALID',
    "dataJson" TEXT NOT NULL DEFAULT '[]',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Curve_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Field" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "basin" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "region" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Field_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LASFile" (
    "id" TEXT NOT NULL,
    "wellId" TEXT NOT NULL,
    "originalName" TEXT NOT NULL,
    "fileSizeKb" DOUBLE PRECISION NOT NULL,
    "lasVersion" TEXT NOT NULL DEFAULT '2.0',
    "startDepth" DOUBLE PRECISION NOT NULL,
    "stopDepth" DOUBLE PRECISION NOT NULL,
    "stepDepth" DOUBLE PRECISION NOT NULL,
    "nullValue" DOUBLE PRECISION NOT NULL DEFAULT -999.25,
    "depthUnit" TEXT NOT NULL DEFAULT 'FT',
    "rawHeader" TEXT NOT NULL,
    "curveCount" INTEGER NOT NULL DEFAULT 0,
    "pointCount" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'PROCESSED',
    "uploadedById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LASFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Operator" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "contactEmail" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Operator_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."QualityReport" (
    "id" TEXT NOT NULL,
    "wellId" TEXT NOT NULL,
    "lasFileId" TEXT NOT NULL,
    "overallScore" INTEGER NOT NULL DEFAULT 0,
    "qualityGrade" TEXT NOT NULL DEFAULT 'UNKNOWN',
    "completenessScore" INTEGER NOT NULL DEFAULT 0,
    "consistencyScore" INTEGER NOT NULL DEFAULT 0,
    "anomalyCount" INTEGER NOT NULL DEFAULT 0,
    "aiSummary" TEXT NOT NULL DEFAULT '',
    "recommendations" TEXT NOT NULL DEFAULT '',
    "reportJson" TEXT NOT NULL DEFAULT '{}',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "QualityReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'PETROPHYSICIST',
    "department" TEXT DEFAULT 'Subsurface Analytics',
    "avatarUrl" TEXT,
    "ndaAcceptedAt" TIMESTAMP(3),
    "tier" TEXT NOT NULL DEFAULT 'FREE',
    "freeChecksUsed" INTEGER NOT NULL DEFAULT 0,
    "stripeCustomerId" TEXT,
    "stripeSubscriptionId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Webhook" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "secret" TEXT NOT NULL,
    "events" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Webhook_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Well" (
    "id" TEXT NOT NULL,
    "apiNo" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "operatorName" TEXT NOT NULL,
    "fieldName" TEXT NOT NULL,
    "basin" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "latitude" DOUBLE PRECISION NOT NULL,
    "longitude" DOUBLE PRECISION NOT NULL,
    "elevFt" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "tdFt" DOUBLE PRECISION NOT NULL DEFAULT 10000,
    "depthUnit" TEXT NOT NULL DEFAULT 'FT',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "qualityScore" INTEGER NOT NULL DEFAULT 0,
    "qualityGrade" TEXT NOT NULL DEFAULT 'UNKNOWN',
    "ownerId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Well_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "APIToken_token_key" ON "public"."APIToken"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Field_name_key" ON "public"."Field"("name" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Operator_name_key" ON "public"."Operator"("name" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_stripeCustomerId_key" ON "public"."User"("stripeCustomerId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_stripeSubscriptionId_key" ON "public"."User"("stripeSubscriptionId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Well_apiNo_key" ON "public"."Well"("apiNo" ASC);

-- CreateIndex
CREATE INDEX "Well_ownerId_idx" ON "public"."Well"("ownerId" ASC);

-- AddForeignKey
ALTER TABLE "public"."APIToken" ADD CONSTRAINT "APIToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ActivityLog" ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Anomaly" ADD CONSTRAINT "Anomaly_curveId_fkey" FOREIGN KEY ("curveId") REFERENCES "public"."Curve"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Anomaly" ADD CONSTRAINT "Anomaly_qualityReportId_fkey" FOREIGN KEY ("qualityReportId") REFERENCES "public"."QualityReport"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Curve" ADD CONSTRAINT "Curve_lasFileId_fkey" FOREIGN KEY ("lasFileId") REFERENCES "public"."LASFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LASFile" ADD CONSTRAINT "LASFile_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LASFile" ADD CONSTRAINT "LASFile_wellId_fkey" FOREIGN KEY ("wellId") REFERENCES "public"."Well"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."QualityReport" ADD CONSTRAINT "QualityReport_lasFileId_fkey" FOREIGN KEY ("lasFileId") REFERENCES "public"."LASFile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."QualityReport" ADD CONSTRAINT "QualityReport_wellId_fkey" FOREIGN KEY ("wellId") REFERENCES "public"."Well"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Well" ADD CONSTRAINT "Well_fieldName_fkey" FOREIGN KEY ("fieldName") REFERENCES "public"."Field"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Well" ADD CONSTRAINT "Well_operatorName_fkey" FOREIGN KEY ("operatorName") REFERENCES "public"."Operator"("name") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Well" ADD CONSTRAINT "Well_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

